.homeScreen {
  min-height: 80vh;
  width: 100%;
  margin: auto;
  background-color: rgb(0, 255, 225);
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
