//This is the style for the product cards width, height and responsive behavior
.homeScreen {
  min-height: 80vh;
  width: 100%;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.latest {
  font-size: 3rem;
  color: rgb(23, 76, 57);
  margin: 1rem 0;
}
