.footer {
  background-color: black;
}
.container {
  min-height: 10vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: white;
}
