.header {
  background-color: black;
  color: white;
}
.nav {
  min-height: 10vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  width: 20%;
  cursor: pointer;
  font-size: 3rem;
}
.logo:hover {
  color: grey;
}
.navLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  gap: 5rem;
  li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    svg {
      font-size: 1.8rem;
      margin: 0 0.5rem 0 0;
    }
    a {
      font-size: 1.8rem;
    }
  }
  li:hover {
    color: grey;
  }
}
.burger {
  display: none;
}

@media screen and (max-width: 820px) {
  .header {
    color: white;
  }
  .navLinks {
    display: none;
  }
  .burger {
    width: 7%;
    display: block;
    align-self: center;
  }
  .burgerSpan {
    padding: 0.18rem 1rem;
    background: white;
    margin: 0.7rem 0rem;
    display: block;
    transition: 0.5s ease-in-out;
  }
  .openBurgerSpan1 {
    padding: 0.15rem 1.8rem;
    background: white;
    margin: 0.7rem 0rem;
    display: block;
    transition: 0.5s ease-in-out;
    transform: rotateZ(-45deg) translateY(450%);
  }
  .openBurgerSpan2 {
    padding: 0.15rem 1.8rem;
    background: white;
    margin: 0.7rem 0rem;
    display: block;
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  .openBurgerSpan3 {
    padding: 0.15rem 1.8rem;
    background: white;
    margin: 0.7rem 0rem;
    display: block;
    transition: 0.5s ease-in-out;
    transform: rotateZ(45deg) translateY(-450%);
  }
}
@media screen and (max-width: 620px) {
  .burger {
    width: 8%;
    display: block;
    align-self: center;
  }
}
@media screen and (max-width: 486px) {
  .burger {
    width: 10%;
    display: block;
    align-self: center;
  }
}
