.card {
  border: 0.1rem solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  img {
    width: 90%;
  }
  p,
  a {
    font-size: 1.2rem;
    text-align: center;
  }
}
